.AudioWrapper {
  background-image: url('../../assets/images/mtb.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.AudioText {
  margin: 0px;
  background-color: lightgrey;
  width: 30%;
  padding: 15px;
  opacity: .9;
  margin: 20px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
}


.AudioButton {
  padding: 15px;
  border: none;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  background-color: lightgrey;
  margin-bottom: 100px;
  margin-top: 30px;
  cursor: pointer;
  opacity: .9;
}

.AudioTitle {
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px black;
  color: black;
  background-color: lightgrey;
  opacity: .9;
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 50px;
}

.AudioIcon {
  height: 15px;
  width: 15px;
  position: relative;
  top: 4px;
  left: 6px;
}
