.AudioWrapper {
  background-image: url('../../assets/images/mtb.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  width: 100%;
  height: 100vh;
}

.AudioBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 5%;
  background-color: lightgrey;
  opacity: .9;
  border: 1px solid #ccc;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px black;
  color: black;
  width: 30%;
  padding: 20px;
  margin-top: 50px;
}

.AudioTitle {

}

.AudioText {
  text-align: justify;
  padding: 0px 15px;
}


.AudioButton {
  border: none;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  background-color: #509CCB;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
  opacity: .9;
}



.AudioIcon {
  height: 15px;
  width: 15px;
  position: relative;
  top: 4px;
  left: 6px;
}
